{
	admin off
	auto_https off
}

:{$OPENCLAW_PROXY_PORT:8080} {
	route {
		@railway header X-Real-IP *
		handle @railway {
			vars railway_client_ip {http.request.header.X-Real-IP}
			request_header -Forwarded
			request_header -X-Forwarded-*
			request_header -X-Real-IP
			request_header -Tailscale-*
			reverse_proxy 127.0.0.1:{$OPENCLAW_INTERNAL_GATEWAY_PORT:18789} {
				header_up X-Forwarded-For {http.vars.railway_client_ip}
				header_up X-Forwarded-Host {http.request.host}
				header_up X-Forwarded-Proto https
			}
		}

		handle {
			request_header -Forwarded
			request_header -X-Forwarded-*
			request_header -X-Real-IP
			request_header -Tailscale-*
			reverse_proxy 127.0.0.1:{$OPENCLAW_INTERNAL_GATEWAY_PORT:18789} {
				header_up X-Forwarded-For {http.request.remote.host}
				header_up X-Forwarded-Host {http.request.host}
				header_up X-Forwarded-Proto https
			}
		}
	}
}
